@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'inter';
    src: url('./assets/font/Inter-VariableFont_opsz\,wght.ttf');
}

* {
    font-family: 'inter', sans-serif;
    color: white;
}